/* You can add global styles to this file, and also import other style files */
@import "~@signify/photon/lib/styles/themes/signify-light.css";
@import "~@signify/photon/lib/styles/sizes/touch-hybrid.css";
@import "~@signify/photon/lib/styles/index.css";

body {
  background: var(--photon-semantic-background);
}

.page-title {
  display: flex;
  align-items: center;
  grid-column-gap: var(--photon-control-gap);
  margin-bottom: var(--photon-side-margin);

  pho-dropdown,
  pho-input-field {
    width: 15rem;
  }

  [type=page-title] {
    flex: 1;
  }
}

.page-content {
  padding: var(--photon-side-margin);
}

.actions-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--photon-side-margin);
}

.actions-form-column {
  background: var(--photon-semantic-surface);
  padding: var(--photon-side-margin);
}
