/* You can add global styles to this file, and also import other style files */
@import "~@signify/photon/lib/styles/themes/signify-light.css";
@import "~@signify/photon/lib/styles/sizes/pointer.css";
@import "~@signify/photon/lib/styles/index.css";

body {
  background: var(--photon-semantic-background);
}

.page-title {
  display: flex;
  align-items: center;
  grid-column-gap: var(--photon-control-gap);
  margin-bottom: var(--photon-side-margin);

  pho-dropdown,
  pho-input-field {
    width: 15rem;
  }

  [type=page-title] {
    flex: 1;
  }
}

.page-content {
  padding: var(--photon-side-margin);
}

.center-form {
  background: var(--photon-semantic-surface);
  max-width: 100%;
  margin: 100px auto 0;
  padding: var(--photon-side-margin);
  width: 400px;
}

.center-form-submit {
  width: 100%;
}

.form-message {
  margin-bottom: 24px;
}

.form-static {
  line-height: var(--photon-control-height);
}

.update-message {
  margin: 24px 0;
}

.update-progress {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
